.product_item {
    padding: 12px;
    transition: 0.2s linear;
    cursor: pointer;
}

.product_image {
    transition: 0.1s linear;
}

.product_item:hover .product_image {
    transform: scale(1.02);
    filter: brightness(1.2);
}

.product_list .product_cart {
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    /* width: 100%; */
}

.cart_header {
    position: relative;
    /* width: 100%; */
}

.cart_header .product_image {
    background: red;
    position: relative;
    /* width: 100%; */
    height: 200px;
}

.cart_header .product_image img {
    height: 100%;
    width: 100%;
}

.cart_header .shop_info {
    position: absolute;
    bottom: 12px;
    left: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart_header .shop_info .shop_avatar {
    width: 50px;
    height: 50px;
    z-index: 1;
}

.cart_header .shop_name {
    padding-left: 12px;
    color: white;
    font-weight: bold;
}

.cart_header .shop_info .shop_avatar img {
    border-radius: 50%;
    width: 100%;
}

.cart_header .kpi {
    position: absolute;
    top: 25px;
    left: -10px;
    background: rgb(177, 3, 3);
    color: #fff;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
    padding: 0 4px;
}

.cart_content {
    padding: 20px;
    background: rgb(202 214 218 / 45%);
}

.cart_content .product_name {
    font-size: 20px;
    font-weight: bold;
    border-bottom: 0.5px solid rgb(64 64 64 / 10%);
    padding: 8px 0;
    color: #123456;
}

.cart_content .rate_and_price {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
}

.cart_content .rate_and_price i {
    color: rgb(241, 204, 39);
    font-size: 12px;
}

.cart_content .rate_and_price .product_price {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart_content .rate_and_price .product_price .old_price {
    font-size: 16px;
    font-weight: bold;
    color: gray;
    text-decoration: line-through;
    margin-right: 3px;
}

.cart_content .rate_and_price .product_price .new_price {
    font-size: 24px;
    font-weight: bold;
    color: orangered;
}

.cart_content .addCart {
    display: flex;
    justify-content: flex-end;
    padding: 12px 20px;
}

.cart_content .addCart button {
    border: 2px solid orangered;
    border-radius: 20px;
    padding: 4px 8px;
    color: orangered;
    font-weight: bold;
    transition: all 0.25s linear;
    cursor: pointer;
}

.cart_content .addCart button:hover {
    background: orangered;
    color: white;
}
