body {
  overflow-x: hidden;
}

.radio-left {
  margin-top: 20px;
}
.teller {
  height: 50px;
  border-bottom: 1px solid #97818136;
  position: relative;
}
.teller p {
  padding-left: 20px;
  padding-top: 10px;
  font-weight: bold;
  font-size: 15px;
}
.sort {
  margin: 20px;
}
.sort p {
  font-weight: bold;
  font-size: 15px;
  padding-bottom: 15px;
}
.radio-title input:checked {
  background-color: #2196f3;
}
label {
  font-weight: 500;
}
.rate_star i {
  text-align: center;
  color: orange;
}
.fa-color {
  color: darkgray;
}
.wrapper {
  margin: 20px;
  overflow: hidden;
  min-height: 100vh;
}

.category {
  position: relative;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
}

.category::before,
.teller::before {
  content: "";
  position: absolute;
  background-color: #ed7e7e;
  width: 5px;
  height: 30px;
  top: 18px;
  left: 0;
}

.teller::before {
  top: 10px;
}

.cate_header {
  text-transform: capitalize;
  font-size: 16px;
  font-weight: bold;
  padding: 0 0 12px 0;
  color: #123456;
  border-bottom: 1px solid rgb(186 184 184 / 32%);
}

/* .cate_header p{
border-left: 2px solid orangered;

} */

/* .cate_main{

} */

.product_list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


.categories,
.box-categories,
.category,
.fillter__sidebar {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.01);
  border: 1px solid #0000001a;
}

.fillter__sidebar {
  padding: 0;
}

.categories {
  position: relative;
}

.categories__head {
  font-size: 14px;
}

.categories__head i {
  color: #ec7070;
}

.box-categories {
  position: absolute;
  top: 70%;
  left: 10%;
  width: 860px;
  background-color: #ecf2fa;
  border: 2px solid #0000001a;
  box-shadow: 0 0 15px rgb(0 0 0 / 2%);
  display: none;
  z-index: 2;
}

.box-categories--item {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  cursor: pointer;
  position: relative;
  margin-bottom: 12px;
  box-shadow: 0 0 15px rgb(0 0 0 / 27%);
}

.box-categories--img {
  margin-bottom: -8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.01);
  position: relative;
}

.blur {
  width: 100%;
  height: calc(100% - 6px);
  position: absolute;
  top: 0;
  left: 0;
  background-color: #493a3a3b;
}

.box-categories--img img {
  width: 100%;
  height: 36px;
  object-fit: cover;
  filter: blur(1.5px);
}

.box-categories--text {
  background-color: #fff;
  padding: 6px 12px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  width: calc(100% + 2px);
  position: relative;
  left: -1px;
  transition: 0.2s linear;
}

.box-categories i {
  position: absolute;
  left: 50%;
  top: 10px;
  transform: translateX(-50%);
  color: #fff;
  font-size: 18px;
}

.box-categories--item:hover .box-categories--text {
  background-color: #f04646;
  color: #fff;
}

.categories:hover .box-categories {
  display: block;
}

.cart {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: #f04646;
  color: #fff;
  padding: 4px 12px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.01);
}

.pagination {
  width: 100%;
  text-align: center;
  margin: 20px;
}

.pagination__item {
  background-color: #e3b3b333;
  text-decoration: none;
  padding: 4px 10px;
  margin: 0 4px;
  min-width: 37px;
  display: inline-block;
  font-size: 14px;
  color: #2b3f53d1;
  border: 1px solid #ecd1d196;
  border-radius: 4px;
  transition: 0.1s linear;
}

.pagination__item:hover,
.cart:hover {
  filter: brightness(1.1);
}

.pagination__item.active {
  background-color: #9393f1;
  color: #fff;
}

.range-slide {
  position: relative;
  margin: 10px;
  height: 4px;
  width: 240px;
}

.slide {
  position: absolute;
  top: 0;
  height: 4px;
  background: #ccc;
  left: 9px;
  right: 9px;
}

.line {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 4px;
  background-color: red;
}

.thumb {
  position: absolute;
  z-index: 2;
  text-align: left;
  border: 1px solid red;
  background-color: #4ee44e;
  border-radius: 50%;
  outline: none;
  top: -7px;
  height: 18px;
  width: 18px;
  margin-left: -9px;
}

.range-input {
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
  pointer-events: none;
  z-index: 3;
  height: 3px;
  top: 0;
  width: 100%;
  opacity: 0;
  margin: 0;
}

input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  pointer-events: all;
  border-radius: 50%;
  cursor: pointer;
  width: 18px;
  height: 18px;
}

.display {
  margin: 10px;
  width: 240px;
  display: flex;
  justify-content: space-between;
}
